@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

html {
  color: #232333;
  font-family: 'Roboto Mono', 'Noto Sans TC', monospace;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5em;
}